@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');


body {
  font-family: 'Spartan', sans-serif;
}

.h-tag {

}

.l-item {

  ul {
    list-style: none;

    li, li>p {
      display: inline;
    }
  }
  &__logo {}
  &__detail {
    &>ul {}
  }
  &__tags {
    &>ul {}
  }

}

.c-card {
  &__company {}
  &__new {}
  &__featured {}
  &__position {}
  &__postedAt {}
  &__contract {}
  &__location {}
  &__tags{}
}
