@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

$color-primary: hsl(178, 29%, 50%);
$color-secondary: hsl(180, 14%, 20%);
$color-primary--light: hsl(180, 31%, 95%);
$color-neutral: hsl(180, 52%, 96%);

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $color-neutral;
  font-family: 'Spartan', sans-serif;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;


  .c-header {
    height: 10rem;
    background: url(../images/bg-header-desktop.svg), $color-primary;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.h-tag {
  padding: 0.8rem 1rem;
  background-color: $color-primary--light;
}

main {
  margin: 10rem 0;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
  width: 100%;
}

.l-table {
  margin: 0 auto;
  width: calc(100vw - 2rem);
  max-width: 65rem;
}

.l-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;

    li, li>p {
      display: inline;
    }
  }

  &__logo {
    grid-area: logo;
    height: 5rem;
    width: 5rem;

    img {
      width: 100%;
    }
  }

  &__row {
    .row1 {
      grid-area: company;
    }
    .row2 {
      grid-area: position;
    }
    .row3 {
      grid-area: details;
    }
  }

  &__detail {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: auto;
    grid-template-areas:
      "logo company"
      "logo position"
      "logo details";
    width: 35%;

    &>ul {}
  }
  &__tags {
    display: flex;
    width: 45%;

    >ul {
      >li {}
    }
  }

}

.c-card {
  background-color: white;
  border-radius: 0.5rem;

  &__company {}
  &__new {}
  &__featured {}
  &__position {}
  &__postedAt {}
  &__contract {}
  &__location {}
  &__tags{}
}
